<div class="container">
    <div class="row">
        <div class="col-col-12 col-sm-12 col-mg-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-4 col-sm-4 col-mg-4 col-lg-4 col-xl-4 col-xxl-4">
                    <label for="" class="form-label">Name</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col col-12 col-8 col-sm-8 col-mg-8 col-lg-8 col-xl-8 col-xxl-8">
                    <label for="" class="form-label">Designation</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col col-12 col-12 col-sm-12 col-mg-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Company Name</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col col-12 col-6 col-sm-6 col-mg-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Salary</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col col-12 col-6 col-sm-6 col-mg-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Experience</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col col-12 col-6 col-sm-6 col-mg-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Emp Code</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col col-12 col-6 col-sm-6 col-mg-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Phone</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col col-12 col-6 col-sm-6 col-mg-6 col-lg-6 col-xl-6 col-xxl-6">
                    <button class="btn btn-primary">Register</button>
                </div>
            </div>
        </div>
    </div>
</div>
